[submodule "Back-End"]
	path = Back-End
	url = https://github.com/aisu-programming/NTNU-Second-Hand-Bookstore-Backend.git
[submodule "Front-End"]
	path = Front-End
	url = https://github.com/eoleedi/NTNU-Second-Hand-Bookstore-Frontend.git
